#!/bin/bash
export MQTT__ros="password_of_ros"; echo "MQTT__ros=${MQTT__ros}"
export MQTT__ui="password_of_ui"; echo "MQTT__ui=${MQTT__ui}"

export FIWARE_SERVICE="uoa_poc2"; echo "FIWARE_SERVICE=${FIWARE_SERVICE}"
export DELIVERY_ROBOT_SERVICEPATH="/delivery_robot"; echo "DELIVERY_ROBOT_SERVICEPATH=${DELIVERY_ROBOT_SERVICEPATH}"
export DELIVERY_ROBOT_TYPE="delivery_robot"; echo "DELIVERY_ROBOT_TYPE=${DELIVERY_ROBOT_TYPE}"
export DELIVERY_ROBOT_ID_PREFIX="megarover_"; echo "DELIVERY_ROBOT_ID_PREFIX=${DELIVERY_ROBOT_ID_PREFIX}"
export DELIVERY_ROBOT_01="${DELIVERY_ROBOT_ID_PREFIX}01"; echo "DELIVERY_ROBOT_01=${DELIVERY_ROBOT_01}"
export DELIVERY_ROBOT_02="${DELIVERY_ROBOT_ID_PREFIX}02"; echo "DELIVERY_ROBOT_02=${DELIVERY_ROBOT_02}"
export ROBOT_UI_SERVICEPATH="/robot_ui"; echo "ROBOT_UI_SERVICEPATH=${ROBOT_UI_SERVICEPATH}"
export ROBOT_UI_TYPE="robot_ui"; echo "ROBOT_UI_TYPE=${ROBOT_UI_TYPE}"
export ROBOT_UI_ID_PREFIX="robotui_"; echo "ROBOT_UI_ID_PREFIX=${ROBOT_UI_ID_PREFIX}"
export ROBOT_UI_01="${ROBOT_UI_ID_PREFIX}01"; echo "ROBOT_UI_01=${ROBOT_UI_01}"
export ROBOT_UI_02="${ROBOT_UI_ID_PREFIX}02"; echo "ROBOT_UI_02=${ROBOT_UI_02}"
